{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!DOCTYPE HTML">
<html lang="en">
<head>
    <title>{% block title %}MarcJacobs Products{% endblock %}</title>
</head>
<body>
    <h1 style="text-align:center">
        {% block content-title %}
            MarcJacobs reknowned products.
        {% endblock %}
    </h1>

    {% block logout %}
        <div class="pull-right">
            <button onclick="location.href='{% url 'authentication:logout' %}'" type="button" class="btn btn-lg btn-info">logout</button>
        </div>
        {% block content-body %}

        {% endblock  %}

    {% endblock %}

    {% block footer %}
    <hr>
    {% endblock %}
</body>
</html>
